.content {
    width: 60%;
    margin: 0 auto;
}

input[type=text] {
    padding: 5px 10px;
    width: 60%;
    letter-spacing: 1px;
}

input[type=submit] {
    padding: 5px 15px;
    letter-spacing: 1px;
    border: 0;
    background: gold;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

h1 {
    border-bottom: 1px solid gray;
}

h2 {
    color: black;
}

h2 a {
    color: black;
    text-decoration: none;
}

.post {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
    margin-top: 15px;
}

.post-head span {
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
}

.post-content {
    font-size: 18px;
    color: black;
}


/* media query */

@media (max-width: 880px) {
    .content {
        width: 99%;
    }
}